.wrapper {
  background-color: wheat;
  width: 1440px;
  height: 500px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.input-wrapper {
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 5px;
  margin-right: 5px;
  background-color: #a6e22e;
}

button {
  padding: 5px 10px;
  margin-right: 5px;
}

ul {
  list-style: none;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

li input[type="text"] {
  margin-left: 10px;
}

button.delete-button {
  background-color: #ff6b6b;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  font-size: 15px;
  height: 70px;
}

button.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  font-size: 20px;
  background-color: #c2c2c2;
  color: white;
  border-radius: 50%;
}

button.update-button {
  background-color: #a6e22e;
  color: white;
}